# ONLY USE ON LOCAL ENVIRONMENT, with the DEV environment variable enabled.

version: '3.8'
services:
  web:
    build: .
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=./key.json
      - ENV=DEV
    ports:
      - "8000:8080"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: "Bloggity"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: 12345
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5