name: Linters

on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'
      - run: python -m pip install flake8
      - name: flake8
        # Pinned to v3.0.0.
        uses: liskin/gh-problem-matcher-wrap@e7b7beaaafa52524748b31a381160759d68d61fb
        with:
          linters: flake8
          run: flake8

  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'
      - name: Set up Mypy
        run: |
          python -m pip install mypy

      - name: Set up project dependencies
        run: | 
              python -m pip install --upgrade pip
              python -m pip install -r requirements-ci.txt

      - name: Set up Django stubs
        run: python -m pip install django-stubs

      - name: Set up Django DRF stubs
        run: python -m pip install djangorestframework-stubs

      - name: mypy
        env:
          PATH_TO_DJANGO_SETTINGS: "Bloggity.settings"
          STATIC_URL: "static_files/"
          DEBUG: True
          ALLOWED_HOSTS: "localhost,127.0.0.1"
          DJANGO_SECRET_KEY: "django-insecure-kih$vse%bf+e9%4=ii7yye+s120^r8ug!5$4@k@3hnfsk+@i%r"
          DB_NAME: "testdb"
          DB_USER: "user"
          DB_PASS: "pass"
          DB_HOST: "localhost"
          DB_PORT: 5432
        uses: liskin/gh-problem-matcher-wrap@e7b7beaaafa52524748b31a381160759d68d61fb
        with:
          run: mypy
          linters: mypy

  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'
      - run: python -m pip install isort
      - name: isort
        # Pinned to v3.0.0.
        uses: liskin/gh-problem-matcher-wrap@e7b7beaaafa52524748b31a381160759d68d61fb
        with:
          linters: isort
          run: isort --check --diff .
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: black
        uses: psf/black@stable