name: Tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11.4]

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: "user"
          POSTGRES_PASSWORD: "pass"
          POSTGRES_DB: "testdb"
        ports:
          - 5432:5432
        # This ensures the service container is ready before moving on.
        options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-ci.txt
    - name: Run Tests
      env:
        PATH_TO_DJANGO_SETTINGS: "Bloggity.settings.local"
        STATIC_URL: "static/"
        DEBUG: True
        ALLOWED_HOSTS: "localhost,127.0.0.1"
        DJANGO_SECRET_KEY: "django-insecure-kih$vse%bf+e9%4=ii7yye+s120^r8ug!5$4@k@3hnfsk+@i%r"
        DB_NAME: "testdb"
        DB_USER: "user"
        DB_PASS: "pass"
        DB_HOST: "localhost"
        DB_PORT: 5432
      run: |
        python manage.py test -v 3
